<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each attrs.model.adventures as |adventure|}}
      {{adventure-list-item
        adventure=(mut adventure)
        remove=(action "remove" adventure.id)}}
    {{/each}}
    <tr>
      <td>
        {{input
          type="text"
          placeholder="Title"
          value=newAdventure.title}}
      </td>
      <td>
        {{input
          type="text"
          placeholder="Description"
          value=newAdventure.desc}}
      </td>
      <td></td>
      <td>
        <span {{action "add"}} class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </td>
    </tr>
  </tbody>
</table>