<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button class="btn" {{action "prevPage"}}>back</button>
    <button class="btn" {{action "nextPage"}}>next</button>
  </div>
</div>

<div class="row">
  {{adventure-list adventures=model.adventures}}
</div>
