<button {{action "prevPage"}}>back</button>
<button {{action "nextPage"}}>next</button>

<div class="row">
  {{adventure-list adventures=model.adventures}}

  {{!--
  {{slot-list model=model}}
  --}}
</div>